{% extends "./base.html"%}
{% block title %}Список товаров в магазине{% endblock %}
{% block content %}
{% if store %}
    <h4>Название торговой точки</h4>
    <h3>{{store.name}}</h3>
    {% if products %}
        <table class="table table-sm">
            <caption>Список товаров в магазине</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}

    {% endif %}
{% else %}
    <p>No store</p>
{% endif %}
{% endblock %}
